
sup{
  color: aqua;
  font-size: 30px;
}
u{
   color: aqua;
  font-size: 30px;
}
.ab{
  background-color: #05435c;
  font-size: 25px;
}



body {
  font-family: Arial, sans-serif;
  direction: rtl;
  background-color: #ccc;
}

header {
  background-color: #05435c;
  padding: 20px;
  text-align: center;
}

header nav img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 10px;
}

header nav h1 {
  color: #fff;
  font-size: 24px;
}

form {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 20px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="date"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"], input[type="reset"] {
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: rgb(67, 156, 156);
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #7fcae7;
}



